{% load static %}

<!DOCTYPE html>
<html lang="es">
<!-- Basic -->
<head>
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" href="#" type="{% static 'image/x-icon' %}" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">

                <ul class="navbar-nav">
                    {% block direcciones %}
                    {% endblock %}
                    <li>
                      <a class="nav-link active" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                      <a class="nav-link" href="{% url 'consultas' %}">Consultas</a>
                    </li>
                    <li>
                      <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                    </li>
                </ul>

                </div>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{% static 'images/search_icon.png' %}" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    {% block banner %}
    {% endblock %}
    <!-- End Banner -->
    <!-- section tabbar -->
    {% block tabbar %}
    {% endblock %}

    {% block body %}
    {% endblock %}
	<!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
        
           <div class="row">
           
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                 <div class="footer_blog">
                    <div class="full margin-bottom_30">
                       <img src="{% static 'images/footer_logo.png' %}" alt="#" />
                     </div>
                     <div class="full white_fonts">
                        <p>holaaaa</p>
                     </div>
                 </div>
              </div>
              
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                   <div class="footer_blog footer_menu white_fonts">
                            <h3>Quick</h3>
                            <ul> 
                              <li><a href="">> *</a></li>
                              <li><a href="">> *</a></li>
                              <li><a href="">> *</a></li>
                              <li><a href="">> *</a></li>
                              <li><a href="">> *</a></li>
                            </ul>
                         </div>
                 </div>
              
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                 <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                              <li>
                                <img src="{% static 'images/i5.png' %}">
                                <span>Resistencia<br>Chaco</span>
                              </li>
                              <li>
                                <img src="{% static 'images/i6.png' %}">
                                <span>alaula-contact@alaula.com</span>
                              </li>
                               <li>
                                <img src="{% static 'images/i7.png' %}">
                                <span>+12586954775</span>
                              </li>
                             </ul>
                         </div>
                    </div>               
           </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2020</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'js/slider-index.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script>
</body>

</html>